<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
  <div class="search-bar">
    
    <input type="text" [(ngModel)]="searchText" placeholder="Search subjects..." />
    <button class="bt" (click)="filterSubjects()">
    <i class="fas fa-search"></i>
  </button>
  </div>
  
  <div class="subject-list">
    <div class="subject" *ngFor="let subject of filteredSubjects">
      <img class="card-img-top" [src]="subject.image" alt="Subject Image">
      <div class="subject-details">
        <h3>{{ subject.title }}</h3>
        <p class="description">{{ subject.description }}</p>
        <span>Professor:</span>
        <p> {{ subject.professor }}</p>
        <button (click)="enroll(subject)">Open Subject</button>
      </div>
    </div>
  </div>
</div>
  