<div class="container">
  <div class="gray-cadre">
   
    <img src="../../../assets/addSubject.png" alt="Image" class="image">
    
    <form class="subject-form" #subjectForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title:</label>
        <br>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newSubject.title" required >
        
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <br>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="newSubject.description" required ></textarea>
        
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <br>
        <input type="file"  id="image" name="image" (change)="onFileSelected($event)" accept="image/*" required>
        <div class="but">
          <div class="preview-container"> 
            <img [src]="imageUrl" *ngIf="imageUrl" class="preview-image">
          </div>
    
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>
  </form>
  </div>
</div>
