html {
    box-sizing: border-box;
  }
  

  

  .timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 610px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .clock {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 15rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial, sans-serif;
  }
  
  .main-button {
    cursor: pointer;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    text-transform: uppercase;
    color: hsl(175, 26%, 41%);
    font-weight: bold;
    width: 200px;
    background-color: white;
    border-width: initial;
    border-style: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    transition: color 0.5s ease-in-out 0s;
  }
  
  button:focus, button:active {
    outline: none;
  }
  
  .main-button.active {
    transform: translateY(6px);
    box-shadow: none;
    outline: none;
  }

  
  
  .hidden {
    display: none;
  }
  
  .bottom-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.bottom-left{
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.top-right{
  position: fixed;
  top: 10px;
  right: 10px;
}


/* Styles pour la balise h1 */
h1 {
  font-size: 36px; /* Taille de la police */
  font-weight: bold; /* Gras */
  color: #333; /* Couleur du texte */
  text-align: center; /* Centrer le texte */
  padding: 20px; /* Espacement interne */
  background-color: #f0f0f0; /* Couleur de fond */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  max-width: 300px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centre le conteneur horizontalement */
}





/* Dans votre fichier CSS */
#videoElement {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999;
}


.bottom-center{
  position: fixed;
  bottom: 10px;
  right: 900px;
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
}


#toggle-btn,
.menu a {
    position: absolute;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.menu a {
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  font-size: 22px;
  text-decoration: none;
  bottom: 10px;
  right: 900px;
  transition: 0.5s;
  cursor: pointer;
}

.active {
  transform: rotate(45deg);
}


  
  