<div class="modal-container">
    <div class="modal-card">
        <div class="modal-header">
            <h2>Salsabil 's post</h2>
            <button class="dismissModal" (click)="closeWithX()">&#10006;</button>
        </div>
        <div class="modal-body">
            <div *ngFor="let c of comments" class="comment">
                <div class="carte">
                    <div class="user-info">
                        <img src="assets/images/user.jpg" alt="Utilisateur" class="user-image">
                        <p>Salsabil Moussa</p>
                    </div>
                    <div class="comment-text">
                        <p>{{ c.commentText }}</p>
                    </div>
                </div>
            </div>
        </div>
        <form class="modal-footer" [formGroup]="commentsForm">
            <img src="assets/images/user.jpg" alt="Utilisateur" class="user-image">
            <input type="text" [formControlName]="'comment'" placeholder="Leave a comment...">
            <button type="submit" class="sendButton" (click)="postComment()">&#10148;</button>
        </form>

    </div>
</div>